<form class="form-horizontal">
  <div class="col-lg-10 col-lg-offset-1">
    <div style="margin-top: 10%">
      <legend>Cadastro de Curso</legend>
    </div>
    <div>
      <label class="control-label" for="coordenador">Coordenador</label>
      <select class="form-control" id="coordenador" style="width: 50%">
        <option disabled value="">Coordenador do Curso</option>
        <option value="inf">Régio</option>
        <option value="ele">Roben</option>
        <option value="bio">Rafael</option>
      </select>
    </div>
    <div>
      <label for="nome" class="control-label">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Nome" style="width: 50%"/>
    </div>
    <div>
      <label for="descricao" class="control-label">Descrição</label>
      <textarea class="form-control" id="descricao" placeholder="Descrição" rows="5" style="resize: none"></textarea>
    </div>
    <div class="col-lg-4 col-lg-offset-4" style="margin-top: 5%;">
      <button class="btn btn-primary col-lg-5 pull-left">Cadastrar</button>
      <button class="btn btn-danger col-lg-5 pull-right">Voltar</button>
    </div>
  </div>
</form>
