<form class="form-horizontal">
  <div class="col-lg-10 col-lg-offset-1">
    <div style="margin-top: 10%">
      <legend>Detalhe Solicitação</legend>
    </div>
    <div>
      <label for="solicitante" class="control-label">Solicitante</label>
      <input disabled type="text" class="form-control" id="solicitante" style="width: 50%"
             value="Andrei Richard de los Santos de Andrade">
    </div>
    <div>
      <label for="matricula" class="control-label">Matrícula</label>
      <input disabled type="text" class="form-control" id="matricula" style="width: 50%" value="10070128">
    </div>
    <div>
      <label for="dataSolicitacao" class="control-label">Data Solicitação</label>
      <input disabled type="date" class="form-control" id="dataSolicitacao" style="width: 50%" value="1995-01-20">
    </div>
    <div>
      <label for="curso" class="control-label">Curso</label>
      <input disabled type="text" class="form-control" id="curso" style="width: 50%"
             value="Análie e Desenvolvimento de Sistemas">
    </div>
    <div>
      <label for="disciplina" class="control-label">Disciplina</label>
      <input disabled type="text" class="form-control" id="disciplina" style="width: 50%" value="Desenvolimento 1">
    </div>
    <div>
      <label for="tipoSolicitacao" class="control-label">Tipo Solicitação</label>
      <input disabled type="text" class="form-control" id="tipoSolicitacao" style="width: 50%"
             value="Prova de Certificação">
    </div>


    <div>
      <label for="motivo" class="control-label">Motivo</label>
      <textarea disabled rows="10" class="form-control" id="motivo" style="resize: none">Motivo</textarea>
    </div>
    <div>
      <label for="anexo" class="control-label">Anexo</label>
      <table id="anexo" class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>#</th>
          <th>Nome do Arquivo</th>
          <th>Tamanho</th>
          <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Arquivo</td>
          <td>15kb</td>
          <td>Deletar</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Arquivo</td>
          <td>15kb</td>
          <td>Deletar</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Arquivo</td>
          <td>15kb</td>
          <td>Deletar</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top: 5%">
      <legend>Observações</legend>
    </div>
    <div>
      <label for="motivo" class="control-label">20/01/1995</label>
      <label for="motivo" class="control-label">Andrei Richard de los Santos de Andrade</label>
      <textarea disabled rows="3" class="form-control" id="motivo" style="resize: none">Motivo</textarea>
    </div>
    <div class="col-lg-6 col-lg-offset-3" style="margin-top: 8%;  display: none">
      <button class="btn btn-primary col-lg-5 pull-left">Aprovar</button>
      <button class="btn btn-danger col-lg-5 pull-right">Rejeitar</button>
    </div>
  </div>

</form>
