<div class="col-lg-offset-2 col-lg-8" style="background-color: rgba(221, 221, 221, 0.39); padding-bottom: 2%; margin-top: 7%; border-radius: 1%; box-shadow: 2px 8px 31px grey; margin-bottom: 5%">
  <form class="form-horizontal">
    <div class="col-lg-10 col-lg-offset-1">
      <div style="margin-top: 10%">
        <legend>Cadastro de Disciplina</legend>
      </div>
      <div>
        <label class="control-label" for="areaDominio">Área de Domínio</label>
        <select class="form-control" id="areaDominio" style="width: 50%">
          <option disabled value="">Área de Domínio</option>
          <option value="inf">Informática</option>
          <option value="ele">Eletrônica</option>
          <option value="bio">Biologia</option>
        </select>
      </div>
      <div>
        <label for="nome" class="control-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome da Disciplina" style="width: 50%"/>
      </div>
      <div>
        <label for="descricao" class="control-label">Descrição</label>
        <textarea class="form-control" id="descricao" placeholder="Descrição" rows="5" style="resize: none"></textarea>
      </div>
      <div class="col-lg-4 col-lg-offset-4" style="margin-top: 5%;">
        <button class="btn btn-primary col-lg-5 pull-left">Cadastrar</button>
        <button class="btn btn-danger col-lg-5 pull-right">Voltar</button>
      </div>
    </div>
  </form>
</div>
