<h2 class="text-center" style="margin-bottom: 8%;">Sistema de Solicitação</h2>
<form class="form-horizontal">
  <div class="col-lg-10 col-lg-offset-1">
    <legend>Acesso</legend>
  </div>
  <div class="col-lg-10 col-lg-offset-1">
    <label class="control-label" for="matricula">Matrícula</label>
    <input class="form-control" id="matricula" type="text" placeholder="Matrícula"/>
  </div>
  <div class="col-lg-10 col-lg-offset-1">
    <label for="senha" class="control-label">Senha</label>
    <input type="text" class="form-control" id="senha" placeholder="Senha">
  </div>
  <div class="col-lg-8 col-lg-offset-2" style="margin-top: 8%;">
    <button class="btn btn-primary col-lg-5 pull-left">Acessar</button>
    <button class="btn btn-success col-lg-5 pull-right">Cadastrar</button>
  </div>
</form>
