<form class="form-horizontal">
  <div class="col-lg-10 col-lg-offset-1">
    <div style="margin-top: 10%">
      <legend>Solicitação</legend>
    </div>
    <div>
      <label class="control-label" for="tipoSolicitacao">Tipo de Solicitação</label>
      <select class="form-control" id="tipoSolicitacao" style="width: 50%">
        <option disabled value="">Tipo de Solicitação</option>
        <option *ngFor="let tipoSolicitacao of tiposSolicitacao" [value]="tipoSolicitacao">{{tipoSolicitacao.valor}}</option>
      </select>
    </div>
    <div>
      <label class="control-label" for="disciplina">Disciplina</label>
      <select class="form-control" id="disciplina" style="width: 50%">
        <option disabled value="">Disciplina</option>
        <option *ngFor="let disciplina of disciplinas" [value]="disciplina">{{disciplina.nome}}</option>
      </select>
    </div>
    <div>
      <label for="motivo" class="control-label">Motivo</label>
      <textarea rows="10" class="form-control" id="motivo" placeholder=" Digite o motivo da sua solição..."
                style="resize: none"></textarea>
    </div>
    <div>
      <label for="anexo" class="control-label">Anexo</label>
      <input type="file" class="form-control" id="anexo">
    </div>
    <div>
      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>#</th>
          <th>Nome do Arquivo</th>
          <th>Tamanho</th>
          <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Arquivo</td>
          <td>15kb</td>
          <td>Deletar</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Arquivo</td>
          <td>15kb</td>
          <td>Deletar</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Arquivo</td>
          <td>15kb</td>
          <td>Deletar</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6 col-lg-offset-3" style="margin-top: 8%;">
      <button class="btn btn-primary col-lg-5 pull-left">Solicitar</button>
      <button class="btn btn-danger col-lg-5 pull-right">Cancelar</button>
    </div>
  </div>

</form>
